*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #021024;
    --secondary-color: #5483b3;
    --text-color: #c1ebff;
}

.odkazy{
    display: flex;
    justify-content: end;
    flex-direction: row;
    background-color: var(--secondary-color);
    padding: 1.2rem;
    font-size: 1.2rem;
}
.odkazy a{
    padding-right: 25px;
    text-decoration: none;
    color: var(--text-color);
}
.odkazy :hover{
    text-decoration: underline;
}

body{
    background-image: url(bota.png);
    background-size: cover;
}

#nadpis{
    display: flex;
    justify-content: center;
    padding: 1,5rem;
    font-size: 3rem;
    color: var(--text-color);
}
#uvod{
    display: flex;
    justify-content: center;
    padding: 2,5rem;
    font-size: 1,5rem;
    color: var(--text-color);
}
