*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #133f4a;
    --secondary-color: #06151E;
    --text-color: #22797a;
    --dalsi-color: #1a0129;
    --dale-color: #220135;
    --dalsitext-color: #b3a3ba;
}

body{
    background-color: var(--primary-color);
}

.odkazy{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: var(--secondary-color);
    padding: 1.2rem;
    font-size: 1.2rem;
}

.odkazy a{
    padding-right: 25px;
    text-decoration: none;
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
}

.odkazy :hover{
    text-decoration: underline;
}

#nadpis{
    display: flex;
    justify-content: center;
    padding: 1,5rem;
    font-size: 3rem;
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
}

/*
.memes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    align-items: center;
    padding: 25px;
}
#meme{
    width: 100%;
    height: auto;
    border-radius: 10px;
}*/
.uvod {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.sk {
    position: relative;
    width: 30%;
    overflow: hidden;
}

.sk img {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: 1s ease-in-out;

}

.obsah {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;

}

.sk:hover .obsah {
    opacity: 1;
    
}

@media (max-width: 800px){
    body{
        background-color: var(--dalsi-color);
    }
    .odkazy{
        background-color: var(--dalsi-color);
        align-items: center;
        flex-direction: column;
    }
    .odkazy a{
        color: var(--dalsitext-color);
        margin: 5px;
        background-color: var(--dale-color);
        border-radius: 25px;
        padding: 5px 10px;
    }
    #nadpis{
        color: var(--dalsitext-color);
        font-size: 1.7rem;
    }
    .sk{
        width: 75%;
    }
    .uvod{
        flex-direction: column;
        align-items: center;
    }
    .obsah{
        color: var(--dalsitext-color);
        font-size: 1.1rem;
    }
    
}
